<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.veasion.auto.mapper.ApiExecuteStrategyMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into api_execute_strategy
        (
            project_id, `name`, `desc`, `type`, script,
            strategy, job_cron, thread_count, thread_strategy_json,
            is_available, is_deleted, create_time, update_time
        )
        values
        (
            #{projectId}, #{name}, #{desc}, #{type}, #{script},
            #{strategy}, #{jobCron}, #{threadCount}, #{threadStrategyJson},
            #{isAvailable}, #{isDeleted}, #{createTime}, #{updateTime}
        )
    </insert>

    <insert id="insertAll">
        insert into api_execute_strategy
        (
        project_id, `name`, `desc`, `type`, script,
        strategy, job_cron, thread_count, thread_strategy_json,
        is_available, is_deleted, create_time, update_time
        )
        values
        <foreach collection="list" item="obj" separator=",">
            (
            #{obj.projectId}, #{obj.name}, #{obj.desc}, #{obj.type}, #{obj.script},
            #{obj.strategy}, #{obj.jobCron}, #{obj.threadCount}, #{obj.threadStrategyJson},
            #{obj.isAvailable}, #{obj.isDeleted}, #{obj.createTime}, #{obj.updateTime}
            )
        </foreach>
    </insert>

    <update id="update">
        update api_execute_strategy
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="strategy != null">
                strategy = #{strategy},
            </if>
            <if test="jobCron != null">
                job_cron = #{jobCron},
            </if>
            <if test="threadCount != null">
                thread_count = #{threadCount},
            </if>
            <if test="threadStrategyJson != null">
                thread_strategy_json = #{threadStrategyJson},
            </if>
            <if test="script != null">
                script = #{script},
            </if>
            <if test="isAvailable != null">
                is_available = #{isAvailable},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateAll">
        update api_execute_strategy
        <set>
            project_id = #{projectId},
            `name` = #{name},
            `desc` = #{desc},
            `type` = #{type},
            strategy = #{strategy},
            job_cron = #{jobCron},
            thread_count = #{threadCount},
            thread_strategy_json = #{threadStrategyJson},
            script = #{script},
            is_available = #{isAvailable},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime},
        </set>
        where id = #{id}
    </update>
    
    <update id="deleteById">
        update api_execute_strategy set is_deleted = 1 where id = #{value}
    </update>

    <select id="queryById" resultType="cn.veasion.auto.model.ApiExecuteStrategyPO">
        select * from api_execute_strategy t where id = #{value}
    </select>

    <select id="queryList" resultType="cn.veasion.auto.model.ApiExecuteStrategyPO">
        select * from api_execute_strategy t where is_deleted = 0
        <include refid="whereSQL" />
        order by id desc
    </select>

    <sql id="whereSQL">
        <if test="id != null">
            and t.id = #{id}
        </if>
        <if test="projectId != null">
            and t.project_id = #{projectId}
        </if>
        <if test="name != null and name.trim() != ''">
            and t.name like concat('%', #{name}, '%')
        </if>
        <if test="desc != null and desc.trim() != ''">
            and t.`desc` like concat('%', #{desc}, '%')
        </if>
        <if test="type != null">
            and t.type = #{type}
        </if>
        <if test="jobCron != null and jobCron.trim() != ''">
            and t.job_cron like concat('%', #{jobCron}, '%')
        </if>
        <if test="strategy != null">
            and t.strategy = #{strategy}
        </if>
        <if test="script != null and script.trim() != ''">
            and t.script like concat('%', #{script}, '%')
        </if>
        <if test="isAvailable != null">
            and t.is_available = #{isAvailable}
        </if>
        <if test="createTime != null">
            and t.create_time >= #{createTime}
        </if>
    </sql>

</mapper>
