<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.veasion.auto.mapper.ApiLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into api_log
        (
            project_id, execut_strategy_id, test_case_id, api_request_id, 
            msg, status, time, is_available,
            is_deleted, create_time, update_time
        )
        values
        (
            #{projectId}, #{executStrategyId}, #{testCaseId}, #{apiRequestId}, 
            #{msg}, #{status}, #{time}, #{isAvailable},
            #{isDeleted}, #{createTime}, #{updateTime}
        )
    </insert>

    <insert id="insertAll">
        insert into api_log
        (
            project_id, execut_strategy_id, test_case_id, api_request_id, 
            msg, status, time, is_available,
            is_deleted, create_time, update_time
        )
        values
        <foreach collection="list" item="obj" separator=",">
        (
            #{obj.projectId}, #{obj.executStrategyId}, #{obj.testCaseId}, #{obj.apiRequestId}, 
            #{obj.msg}, #{obj.status}, #{obj.time}, #{obj.isAvailable},
            #{obj.isDeleted}, #{obj.createTime}, #{obj.updateTime}
        )
        </foreach>
    </insert>

    <update id="update">
        update api_log
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="executStrategyId != null">
                execut_strategy_id = #{executStrategyId},
            </if>
            <if test="testCaseId != null">
                test_case_id = #{testCaseId},
            </if>
            <if test="apiRequestId != null">
                api_request_id = #{apiRequestId},
            </if>
            <if test="msg != null">
                msg = #{msg},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="isAvailable != null">
                is_available = #{isAvailable},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateAll">
        update api_log
        <set>
            project_id = #{projectId},
            execut_strategy_id = #{executStrategyId},
            test_case_id = #{testCaseId},
            api_request_id = #{apiRequestId},
            msg = #{msg},
            status = #{status},
            time = #{time},
            is_available = #{isAvailable},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime},
        </set>
        where id = #{id}
    </update>

    <update id="deleteById">
        update api_log set is_deleted = 1 where id = #{value}
    </update>

    <select id="queryById" resultType="cn.veasion.auto.model.ApiLogPO">
        select * from api_log where id = #{value}
    </select>

    <select id="queryList" resultType="cn.veasion.auto.model.ApiLogPO">
        select * from api_log where is_deleted = 0
        <include refid="whereSQL" />
    </select>

    <sql id="whereSQL">
        <where>
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="projectId != null">
                and t.project_id = #{projectId}
            </if>
            <if test="executStrategyId != null">
                and t.execut_strategy_id = #{executStrategyId}
            </if>
            <if test="testCaseId != null">
                and t.test_case_id = #{testCaseId}
            </if>
            <if test="apiRequestId != null">
                and t.api_request_id = #{apiRequestId}
            </if>
            <if test="msg != null and msg.trim() != ''">
                and t.msg like concat('%', #{msg}, '%')
            </if>
            <if test="status != null">
                and t.status = #{status}
            </if>
            <if test="time != null">
                and t.time >= #{time}
            </if>
            <if test="isAvailable != null">
                and t.is_available = #{isAvailable}
            </if>
            <if test="createTime != null">
                and t.create_time >= #{createTime}
            </if>
        </where>
    </sql>

</mapper>
