<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.veasion.auto.mapper.ProjectConfigMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into project_config
        (
            project_id, open_req_log, global_var_json, exception_script, before_script,
            after_script, is_available, is_deleted, create_username, create_time, update_time
        )
        values
        (
            #{projectId}, #{openReqLog}, #{globalVarJson}, #{exceptionScript}, #{beforeScript},
            #{afterScript}, #{isAvailable}, #{isDeleted}, #{createUsername}, #{createTime}, #{updateTime}
        )
    </insert>

    <insert id="insertAll">
        insert into project_config
        (
            project_id, open_req_log, global_var_json, exception_script, before_script,
            after_script, is_available, is_deleted, create_username, create_time, update_time
        )
        values
        <foreach collection="list" item="obj" separator=",">
        (
            #{obj.projectId}, #{obj.openReqLog}, #{obj.globalVarJson}, #{obj.exceptionScript}, #{obj.beforeScript},
            #{obj.afterScript}, #{obj.isAvailable}, #{obj.isDeleted}, #{obj.createUsername}, #{obj.createTime}, #{obj.updateTime}
        )
        </foreach>
    </insert>

    <update id="update">
        update project_config
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="openReqLog != null">
                open_req_log = #{openReqLog},
            </if>
            <if test="globalVarJson != null">
                global_var_json = #{globalVarJson},
            </if>
            <if test="exceptionScript != null">
                exception_script = #{exceptionScript},
            </if>
            <if test="beforeScript != null">
                before_script = #{beforeScript},
            </if>
            <if test="afterScript != null">
                after_script = #{afterScript},
            </if>
            <if test="isAvailable != null">
                is_available = #{isAvailable},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateAll">
        update project_config
        <set>
            project_id = #{projectId},
            open_req_log = #{openReqLog},
            global_var_json = #{globalVarJson},
            exception_script = #{exceptionScript},
            before_script = #{beforeScript},
            after_script = #{afterScript},
            is_available = #{isAvailable},
            is_deleted = #{isDeleted},
            create_username = #{createUsername},
            create_time = #{createTime},
            update_time = #{updateTime},
        </set>
        where id = #{id}
    </update>

    <update id="deleteById">
        update project_config set is_deleted = 1 where id = #{value}
    </update>

    <select id="queryById" resultType="cn.veasion.auto.model.ProjectConfigPO">
        select * from project_config where id = #{value}
    </select>

    <select id="queryList" resultType="cn.veasion.auto.model.ProjectConfigPO">
        select * from project_config t where is_deleted = 0
    </select>

</mapper>
