<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.veasion.auto.mapper.ProjectMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into project
        (
            name, description, email, is_available, 
            is_deleted, create_time, update_time
        )
        values
        (
            #{name}, #{description}, #{email}, #{isAvailable}, 
            #{isDeleted}, #{createTime}, #{updateTime}
        )
    </insert>

    <insert id="insertAll">
        insert into project
        (
            name, description, email, is_available, 
            is_deleted, create_time, update_time
        )
        values
        <foreach collection="list" item="obj" separator=",">
        (
            #{obj.name}, #{obj.description}, #{obj.email}, #{obj.isAvailable}, 
            #{obj.isDeleted}, #{obj.createTime}, #{obj.updateTime}
        )
        </foreach>
    </insert>

    <update id="update">
        update project
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="isAvailable != null">
                is_available = #{isAvailable},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateAll">
        update project
        <set>
            name = #{name},
            description = #{description},
            email = #{email},
            is_available = #{isAvailable},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime},
        </set>
        where id = #{id}
    </update>

    <update id="deleteById">
        update project set is_deleted = 1 where id = #{value}
    </update>

    <select id="queryById" resultType="cn.veasion.auto.model.ProjectPO">
        select * from project where id = #{value}
    </select>

    <select id="queryList" resultType="cn.veasion.auto.model.ProjectPO">
        select * from project where is_deleted = 0
        <include refid="whereSQL" />
    </select>

    <sql id="whereSQL">
        <where>
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="name != null and name.trim() != ''">
                and t.name like concat('%', #{name}, '%')
            </if>
            <if test="isAvailable != null">
                and t.is_available = #{isAvailable}
            </if>
            <if test="createTime != null">
                and t.create_time >= #{createTime}
            </if>
        </where>
    </sql>

</mapper>
