<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.veasion.auto.mapper.StrategyCaseRelationMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into strategy_case_relation
        (
            execute_strategy_id, case_id, is_deleted, create_time,
            update_time
        )
        values
        (
            #{executeStrategyId}, #{caseId}, #{isDeleted}, #{createTime},
            #{updateTime}
        )
    </insert>

    <insert id="insertAll">
        insert into strategy_case_relation
        (
            execute_strategy_id, case_id, is_deleted, create_time,
            update_time
        )
        values
        <foreach collection="list" item="obj" separator=",">
        (
            #{obj.executeStrategyId}, #{obj.caseId}, #{obj.isDeleted}, #{obj.createTime},
            #{obj.updateTime}
        )
        </foreach>
    </insert>

    <update id="update">
        update strategy_case_relation
        <set>
            <if test="executeStrategyId != null">
                execute_strategy_id = #{executeStrategyId},
            </if>
            <if test="caseId != null">
                case_id = #{caseId},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateAll">
        update strategy_case_relation
        <set>
            execute_strategy_id = #{executeStrategyId},
            case_id = #{caseId},
            is_deleted = #{isDeleted},
            create_time = #{createTime},
            update_time = #{updateTime},
        </set>
        where id = #{id}
    </update>

    <update id="deleteById">
        update strategy_case_relation set is_deleted = 1 where id = #{value}
    </update>

    <select id="queryById" resultType="cn.veasion.auto.model.StrategyCaseRelationPO">
        select * from strategy_case_relation where id = #{value}
    </select>

    <select id="queryApiTestCaseList" resultType="cn.veasion.auto.model.ApiTestCasePO">
        select atc.* from api_test_case atc, strategy_case_relation scr
        where atc.is_deleted = 0 and scr.is_deleted = 0 and scr.case_id = atc.id and scr.execute_strategy_id = #{value}
    </select>

    <update id="delete">
        update strategy_case_relation set is_deleted = 1 where execute_strategy_id = #{executeStrategyId}
        <if test="caseIds != null">
            and case_id in
            <foreach collection="caseIds" open="(" separator="," close=")" item="caseId">
                #{caseId}
            </foreach>
        </if>
    </update>

</mapper>
